<body class="bg-dark">
    <% if flash[:error] %>
        <div class="alert alert-danger">
            <div class="error"> <%= flash[:error] %></div>
        </div>
    <% end %>

    <div class ="card text-center bg-dark">
        <div class="card-header text-white">
            <h1>Sign In</h1>
        </div>
        <div class="card-body">
            <%= form_with url:login_path do |f| %>
            <form>
            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Email</label><br>
                    <%= f.email_field :email %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Password</label><br>
                    <%= f.password_field :password %>
                </div>
            </div>

            <div class="mb-3 text-center">
                <%= f.submit 'Sign In', :class => 'btn btn-info' %>
            </div>
            </form>
            <% end %>
        </div>
    </div>
</body>