<body class="bg-dark">

    <%= render partial: 'shared/error_messages', locals: {obj: @user} %>

    <div class ="card text-center bg-dark">
        <div class="card-header text-white">
            <h1>Sign Up</h1>
        </div>
        <div class="card-body">
            <%= form_for @user do |f| %>
            <form>
            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Name</label><br>
                    <%= f.text_field :name %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Email</label><br>
                    <%= f.email_field :email %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Password</label><br>
                    <%= f.password_field :password %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Age</label><br>
                    <%= f.number_field :age %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Gender</label><br>
                    <%= f.select :gender, options_for_select([["Select One", ""], "Male", "Female", "Other"]) %>
                </div>
            </div>

            <div class="mb-3">
                <div class="text-center">
                    <label class="form-label text-white font-weight-bold">Phone Number</label><br>
                    <%= f.telephone_field :phone_number %>
                </div>
            </div>

            <div class="mb-3 text-center">
                <%= f.submit 'Sign Up', :class => 'btn btn-info' %>
            </div>
            </form>
            <% end %>
        </div>
    </div>
</body>